<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<booleanAttribute key="org.eclipse.debug.core.appendEnvironmentVariables" value="true"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Bolzplatz 2006"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Bolzplatz 2006"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-classpath &quot;classes;lib\jirr\irrlicht.jar;lib\lwjgl\lwjgl_util.jar;lib\lwjgl\lwjgl.jar;lib\dom4j\dom4j-1.6.1.jar;lib\sdl\sdljava.jar;lib\vecmath.jar;&quot; -Djava.library.path=&quot;lib/dom4j;lib/jirr;lib/lwjgl;lib/other;lib/sdl&quot;"/>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.debug.ui.launchGroup.debug"/>
<listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.xenoage.bp2k6.tools.teameditor.TeamEditor"/>
</launchConfiguration>
